body {
    font-family: 'Montserrat';
    margin: 0;

}

header {
    background: black;
    font-size: larger;
    padding: 10px;
}

.right_nav {
    text-align: right;
}

.right_nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.left_nav {
    text-align: left;
    padding: 0;
    margin: 0;
}

.left_nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}


footer {
    background: black;
    text-align: center;
    font-size: large;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

form {
    background-color: gray;
    font-size: large;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    text-align: left;
    border: 0px;
    color: purple;
}

form input {
    border-radius: 5px;
}

body form {
    max-width: 500px;
    min-width: 300px;
    width: 40vw;
    border-radius: 5px;
    text-align: left;
}

footer p {
    color: #fff;

}